.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}
.login > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    background: #fcfcfc;
    box-shadow:  5px 5px 10px #e3e3e3, 
                 -1px -1px 6px #e3e3e3;
}
.login > div > button {
    width: 50%;
}

@media(max-width: 768px) {
    .login > div {
        width: 50%;
    }
    .login > div > button {
        width: 80%;
    }
}
@media(min-width: 768px) and (max-width: 1024px) {
    .login > div {
        width: 50%;
    }
}