@media (min-width: 1024px) {
  .app__cares {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .app__flex {
    order: 2;
    flex: 0.6;
    align-self: flex-start;
    margin: auto;
  }
}